.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.backCaret {
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.backCaret:hover {
  color: var(--color-muted);
}
